{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link href="{% static 'css/reg.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-image:url({% static 'img/s.jpg' %})">
  <br><br><br><br><br>
  				<center><h1 style="color:orange; font-family:verdana;">Login Here</h1></center>
    <!-- Body of Form starts -->
  	<div class="container1">
      <form method="post" autocomplete="on"> {% csrf_token %}

    		<!---Email ID---->
    		<div class="box">
<!--          <label for="username" class="fl fontLabel"> Username </label>-->
    			<div class="fl iconBox">
					<i class="fa fa-user" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="text" required name="uname" maxlength="10" placeholder="Username" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--Email ID----->


    		<!---Password------>
    		<div class="box">
<!--          <label for="password" class="fl fontLabel"> Password </label>-->
    			<div class="fl iconBox">
					<i class="fa fa-key" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="Password" required name="pass" placeholder="Password" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!---Password---->

    		<!---Submit Button------>
    		<div class="box text-center" style="background: #2d3e3f">
    				<input type="Submit" name="Submit" class="submit" value="SUBMIT">
    		</div>
    		<!---Submit Button----->
		  {% if messages %}
                    <ul style="color:red;">
                        {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
			{% endif %}


		  <div class="box">
			  <b style="color:orange;">Don't have an Account?</b><a style="color:white;" href="{% url 'register'%}">Register Here</a> &nbsp
					<a style="color:white;" href="{% url 'forgot' %}">Forgot Password?</a>
		  </div>
      </form>
  </div>
  <!--Body of Form ends--->
  </body>
</html>
