{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link href="{% static 'css/reg.css' %}" type="text/css" rel="stylesheet"><link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="background-image:url({% static 'img/s.jpg' %})">
  <br>
  		<center><h1 style="color:orange; font-family:verdana;">Register Here</h1></center>

    <!-- Body of Form starts -->
  	<div class="container">
<!--				<center><h1 style="color:white;">Register Here</h1></center>-->
      <form method="post" autocomplete="on"> {% csrf_token %}
        <!--First name-->
    		<div class="box">
<!--          <label for="firstName" class="fl fontLabel"> First Name </label>-->
    			<div class="new iconBox">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
    			<div class="fr">
    					<input type="text" name="fname" placeholder="First Name" class="textBox" autofocus="on" required>
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--First name-->


        <!--Second name-->
    		<div class="box">
<!--          <label for="secondName" class="fl fontLabel"> Seconed Name </label>-->
    			<div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="text" required name="lname"
              placeholder="Last Name" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--Second name-->

		  	<!---Gender----->
<!--    		<div class="box radio">-->
<!--          <label for="gender" class="fl fontLabel"> Gender: </label>-->
<!--    				<input type="radio" name="Gender" value="Male" required> Male &nbsp; &nbsp; &nbsp; &nbsp;-->
<!--    				<input type="radio" name="Gender" value="Female" required> Female-->
<!--    		</div>-->
    		<!---Gender--->


    		<!---Email ID---->
    		<div class="box">
<!--          <label for="email" class="fl fontLabel"> Email ID: </label>-->
    			<div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="email" required name="email" placeholder="Email Id" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!--Email ID----->

<!--		  	-Phone No.&#45;&#45;&#45;&#45;-->
    		<div class="box">
<!--          <label for="phone" class="fl fontLabel"> Username </label>-->
    			<div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="text" required name="uname" maxlength="10" placeholder="Username" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
<!--    		-Phone No.&#45;&#45;-->

    		<!---Password------>
    		<div class="box">
<!--          <label for="password" class="fl fontLabel"> Password </label>-->
    			<div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="Password" required name="pass" placeholder="Password" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>

		  <div class="box">
<!--          <label for="password" class="fl fontLabel"> Confirm Password </label>-->
    			<div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
    			<div class="fr">
    					<input type="Password" required name="re_pass" placeholder="Confirm Password" class="textBox">
    			</div>
    			<div class="clr"></div>
    		</div>
    		<!---Password---->




    		<!--Terms and Conditions------>
    		<div class="box terms">
    				<input type="checkbox" name="Terms" required> &nbsp; I accept the terms and conditions
    		</div>
    		<!--Terms and Conditions------>


<center>
    		<!---Submit Button------>
    		<div class="box" style="background: #2d3e3f">
    				<input type="Submit" name="Submit" class="submit" value="SUBMIT">
    		</div>
    		<!---Submit Button----->
</center>
		  {% if messages %}
                    <ul style="color:red;">
                        {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
			{% endif %}
<center>
		  <div class="box">
			   <b>Have an Account?&nbsp;&nbsp;<a href="{% url 'login'%}">Login Here</a></b>
		  </div>
</center>
      </form>
  </div>
  <!--Body of Form ends--->

  </body>
</html>
