{% extends 'nav.html' %}
{% load static %}
{% block title %} Bowling {% endblock %}
<!--{% block extrahead %}-->
<!--    <link rel="stylesheet" href="{% static 'css/popup.css' %}">-->
<!--{% endblock %}-->

{% block content %}
<head>
<!--    <link rel="stylesheet" href="{% static 'css/popup.css' %}">-->
</head>
<br><br><br><br>
<body style="background-image:url({% static 'img/s.jpg' %}); background-size:cover;">
<!-- SCORE Calculation Start -->
<div class="container-fluid position-relative my-5">
    <div class="container">
        <div class="row px-3 align-items-center">
<!--            <div class="col-md-6">-->
<!--                <div class="pr-md-3 d-none d-md-block">-->
                    <!--                        <h4 class="text-primary">Body Mass Index </h4>-->
                    <!--                        <h4 class="display-4 text-white font-weight-bold mb-4">Whate is BMI?</h4>-->
                    <!--                        <p class="m-0 text-white">Vero elitr lorem magna justo magna justo at justo est ipsum sed clita lorem dolor ipsum sed. Lorem sea lorem vero. Sanct dolor clita clita rebum kasd magna erat diam</p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-6 bg-secondary py-5">
                <div class="py-5 px-3">
                    <h1 class="mb-4 text-white">Bowler's Dream11 Score</h1>
                    <form method="post"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <select class="custom-select custom-select-lg bg-dark text-muted" name="bow_player"
                                        required>
                                    <option>Player Name</option>
                                    {% for b in bowler %}
                                    <option>{{b}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <select class="custom-select custom-select-lg bg-dark text-muted" name="team1b"
                                        required>
                                    <option>Team</option>
                                    {% for t1 in team1 %}
                                    <option>{{t1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col form-group">
                                <select class="custom-select custom-select-lg bg-dark text-muted" name="team2b"
                                        required>
                                    <option>Opposite Team</option>
                                    {% for t2 in team1 %}
                                    <option>{{t2}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" name="overs"
                                       placeholder="Overs" required>
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" name="maiden"
                                       placeholder="Maidens" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" name="run"
                                       placeholder="Runs" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white"
                                       name="wickets" placeholder="Wickets" required>
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" name="er"
                                       placeholder="Economy Rate" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <input type="submit" class="trigger btn btn-lg btn-block btn-dark border-light"
                                       value="Calculate Now">
                                <div class="modal">
                                    <div class="modal-content">
                                        <span class="close-button">×</span>
                                        <h1>{{Score}}</h1>
                                    </div>
                                </div>
                            </div>
<!--                            pop  up-->
<!--                            <div class="box">-->
<!--                                <a class="button" href="#popup1">Let me Pop up</a>-->
<!--                            </div>-->

<!--                            <div id="popup1" class="overlay">-->
<!--                                <div class="popup">-->
<!--                                    <h2>Here i am</h2>-->
<!--                                    <a class="close" href="#">&times;</a>-->
<!--                                    <div class="content">-->
<!--                                        Thank to pop me out of that button, but now i'm done so you can close this-->
<!--                                        window.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <h1>{{score}}</h1>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/popup.js' %}"></script>
</body>

{% endblock %}
